#food {
margin-top:20px;
display:flex;
justify-content:center;
flex-wrap:wrap;
}

h3 {
  text-align:center;
  color:#5c7955;
}

.foodContainer {   
  font-size:25px;
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:50px;
    margin-top:30px;  
    flex-wrap:wrap;
    display:flex;
    justify-content: center; 
    flex-direction: column; 
    margin-left:auto;
    margin-right:auto;
    text-align:center;  
    background-color:rgb(192, 218, 199);
    width:80%;
    color:rgb(85, 85, 85);
    height:auto;
   
}

.foodDescription {
    padding-top:20px;
    background-color:rgb(192, 218, 199);
    width:80%;
    margin-left:auto;
    margin-right:auto;  
}

.foodImage {
    height:auto;
  width:80%;
    }

.foodButton {
    background-color:rgb(192, 218, 199); 
    
}  

button {  
  font-size:25px;
    background-color: #f3ce68;     
    color: rgb(66, 66, 66);
    padding: 16px 40px;    
    text-decoration: none;    
    font-size: 1.5h; 
    font-weight:bold;     
    margin-left:auto;
    margin-right:auto; 
    border:none;  
  }

  button:hover {
    background-color:#dab246;
    cursor:pointer;
  }

  #scoreout {
    text-decoration: line-through;
  }

