h2 {
    text-align:center;
    font-size:36px;
    color:white;
     margin-left:auto;
    margin-right:auto;
    width:100%;
}

h4 {
    color:white;
    text-align:center;
}

#container1 {
    display:flex;   
    flex-wrap:wrap;
    justify-content:space-between;  
    width:100%;      
    color:white;     
    margin-bottom:75px;   
    margin-left:auto;
    margin-right:auto;
    margin-top:-70px;  
    background-image: url("../IMG/gardbacking.jpg");
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
    text-align:center;
}



.row:after {
    content: "";
    display: table;
    clear: both;
  }

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-right:10px;
  }

  .col-75 {
    float: left;
    width: 70%;
    margin-top: 6px;
  }

  
  input
   {
    background-color: #ececec;
    color: rgb(15, 15, 15);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  
  input, select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;   
  }
  
  .row2 {   
    text-align:center;
  }


  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    letter-spacing: 1px;
   
  }


button {
    width:25%;
    background-color: rgb(230, 186, 105);
    color:rgb(56, 56, 56);
    border:none;
    padding:10px;
    font-weight:bold; 
    cursor:pointer;
    letter-spacing: 1px;
    font-size:25px;
   
      }

      button:hover {
        background-color: rgb(194, 147, 61);
    
    }      
    

    
.gardpics { 
  min-width:400px;
    width:45%;   
}

.boxy {    
    width:30%;
    padding: 20px 100px;   
    text-align:center;
    font-style:italic;
    margin-left:auto;
    margin-right:auto;
    
}

.boxy2 {    
    width:30%;
    padding: 20px 100px;   
    text-align:center;
    font-style:italic;
    margin-left:auto;
    margin-right:auto;
}



#tests{   
    background-color: green);
    width:100%;
    padding-top:25px;
    padding-bottom:25px;
   
    }

   #container2 {
    text-align:center;  
    padding-bottom:40px;  
     
}


  #signup {
    display:block; 
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:60px;
      width:100%;
}


#aboutgarden {
    display:block;  
    text-align:center;
    margin-bottom:75px;
     
}

.textAbout {
  margin-top:-20px;
    line-height:1.6;
}
    
form {   
    font-size:25px;
  background-color:rgb(195, 219, 193);    
  height:auto;   
  padding:20px;   
  margin-top:0px;
  margin-bottom:auto;      
  padding-top:40px;
  color:rgb(46, 45, 45);         
    width:70%;
    margin-left:auto;
    margin-right:auto;
}


