section {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 999px) {  


.deskview {
  display:none;
}

#con1 {
  background-color:rgb(183, 204, 183); 
  margin-top:0px;
  margin-bottom:100px;
  padding-bottom:40px;
  padding-top:15px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
 
}
  
#con2 {
  padding-top:15px;
  width:90%;
  background-color: rgb(224, 212, 160);
  margin-top:50px;
   padding-bottom:40px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:120px;
}
  
  

.centerpics {		
  background-image:url("../IMG/kelsomain2.jpg") ; 
  background-size: cover; 
  background-position: center;  
  height:900px;					
  width:100%;	
  margin-left:auto;
   margin-right:auto;
   text-align:center;
   margin-top:-50px;  
    
      }

      .textintro {
        padding-top:100px; 
        margin-bottom:0px; 
        font-size:4em;
        text-align:center;
        color:white;     
        font-family: 'GlacialIndifferenceRegular'; 
      }
      
      .textintro5 {
        padding-top:0px;        
        font-size: 3.5em;
        text-align:center;
        font-weight:bold;
        margin-left:10%;
        margin-right:10%;
        color:rgb(1, 77, 17);  
        font-family: 'GlacialIndifferenceRegular';     
      }
      




.onefor1 {
  width:13vw; 
  height:90px;
  margin-left:180px;  
  margin-bottom:-150px;
  transform: rotate(-15deg);
}


.off30 {
  width:16vw; 
  height:100px;
  margin-left:165px;  
  margin-bottom:-160px;
  transform: rotate(-15deg);
}



.offer {
font-size:2vh;
display:flex;
color:rgb(54, 54, 54);  
justify-content: center; 
font-weight:bold;
}

.offerContainer {
padding-bottom:40px;
background-color:#EFEADD;
padding-top:10px;
margin-top:20px;
width:65vw;
margin-left:auto;
margin-right:auto;
text-align:center;
margin-bottom:60px;
}

h6 {
  font-size:2.5em;
  color:black;
}

.offerImage {  
  width: 60vw;
  height:450px;  
margin-left:auto;
margin-right:auto; 
margin-top:-20px;  
text-align:center;
}

h3, h4 {
font-size:4em; 
color:rgb(114, 114, 114);
margin-left:auto;
margin-right:auto;
padding:5px;
text-align:center;
letter-spacing: 2px;
  
}



h2 {
font-size:3vh;
color:rgba(19, 71, 17, 0.774);
font-style:italic;
text-align:center;
}


#two {
width:100%;      
color:rgb(158, 209, 233);  
background-color: rgb(224, 212, 160);
margin-bottom:0px;   
margin-left:auto;
margin-right:auto;
padding-top:0px;

}

.toptext {
  font-size:32px;
  color:black;
  font-weight:strong;
}

.from {  
  color:rgb(0, 0, 0);
  font-size:1em;
}


.productContainer {  
  width:70%; 
  max-width:70%;  
  text-align:center;
  margin-left:auto;
margin-right:auto;
  margin-bottom:60px;
  padding-bottom:30px;
  margin-top:30px;
  }

.pricebox {
background-color:#EFEADD;
margin-top:0;
padding-top:5px;   
  font-size:1.5em;
  width:65vw;   
  margin-left:auto;
margin-right:auto;
  text-align:center;
   padding-bottom:20px;
   margin-bottom:30px;
}



#productView {
text-align:center;
margin-top:0px;
padding-top:50px;
padding-bottom:50px;
font-weight:bold;
font-size:1.5em;
letter-spacing: 1.5px;
}

.recImage {
margin-top:-10px;
height:500px; 
 width:65vw;
display:block; 
margin-bottom:0px;  
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

button {   
  background-color: #f3ce68;     
  color: rgb(66, 66, 66);
  padding: 16px 40px;    
  text-decoration: none;  
  font-weight:bold;     
  margin-left:auto;
  margin-right:auto; 
  border:none;  
  margin-bottom:20px;
}

.basket1 {
  font-size:2em;
}

.basket2 {
  font-size:1.5em;
}

button:hover {
  background-color:#dab246;
  cursor:pointer;
}

#productView a {
  text-decoration:none;
 color:rgba(30, 83, 28, 0.774);
}

#productView a:hover {
  text-decoration:none;
 color:rgba(106, 133, 88, 0.774);
}

#three {
background-image: url("../IMG/cafe.jpg");
height:700px; 
background-repeat: no-repeat;   
background-position:center;
background-size:cover;
margin-bottom:50px;
opacity:80%;
width:80%;
margin-right:auto;
margin-left:auto;
box-shadow: 3px 3px 2px rgb(82, 82, 82);
}

#four {
background-image: url("../IMG/gardening.jpg");
height:700px; 
background-repeat: no-repeat;   
background-position:center;
background-size:cover;
margin-bottom:50px;
opacity:80%;
width:80%;
margin-right:auto;
margin-left:auto;
box-shadow: 3px 3px 2px rgb(82, 82, 82);
}

.backg {
  background-color:rgba(66, 66, 66, 0.822);
  padding:15px;

}

.changeanc {
  color:rgb(236, 236, 236);
  background-color:rgba(66, 66, 66, 0.575);
  padding:10px;
  text-decoration:none;
}

}

 

@media only screen and (min-width: 1000px) {  


.mobview {
  display:none;
}

h5 {
  color: rgb(255, 255, 255);
  display:block;
  font-size: 2em;

}

.contain12 {
  background-color:rgb(183, 204, 183); 
  padding-top:30px;
  margin-top:-70px;

}

#con12 {
  background-color:rgb(183, 204, 183); 
  margin-top:0px;
  margin-bottom:100px;
  padding-bottom:40px;
  padding-top:15px;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
 
}



#intro2 {
margin-top:-60px; 
margin-bottom:75px;  
}

#introText2 {
width:45%;   
justify-content: center; 
background-color:rgb(168, 228, 172); 
background-repeat: no-repeat;
height:700px;
background-position:center;
background-size:cover;
color:rgb(38, 51, 38);
padding-left:20px;
padding-right:20px;
font-size:3vh;
}

#cent2 {
  color:rgb(235, 235, 235);
margin-left:auto;
margin-right:auto;
}

#mainImage2 {
background-image:url("../IMG/kelsomain.jpg") ; 
  background-repeat: no-repeat;
  height:700px;
  background-position:center;
  background-size:cover;
Width:100%;  
display:inline-block;  
}


.centerText2 {
text-align: center;
display:flex; 
font-size:3vw;   
text-align:"center";
font-style:italic;   
color:rgb(255, 255, 255);
justify-content: center;
margin-left:20%;
margin-right:20%;
margin-top:250px; 
}




.onefor12 {
  width:8vw; 
  height:60px;  
  margin-bottom:-70px;
-webkit-transform:rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);

}


.off302 {
  width:10vw; 
  height:80px; 
  margin-bottom:-80px;
  -webkit-transform:rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}


.offer2 {
font-size:2vh;
display:flex;
color:rgb(54, 54, 54);  
justify-content: center; 
font-weight:bold;
}

.offerContainer2 {
padding-bottom:20px;
background-color:#EFEADD;
padding-top:20px;
margin-top:20px;
width:25vw;
margin-left:auto;
margin-right:auto;
text-align:center;
margin-bottom:90px;
min-width:350px;
}

h6 {
  font-size:2.5em;
  color:black;
}

.offerImage2 {  
  width: 25vw;
  height:250px;  
margin-left:auto;
margin-right:auto; 
margin-top:-20px;  
text-align:center;
min-width:350px;
}

h3, h4 {
font-size:4em; 
color:rgb(114, 114, 114);
margin-left:auto;
margin-right:auto;
padding:5px;
text-align:center;
letter-spacing: 2px;
  
}



h2 {
font-size:3vh;
color:rgba(19, 71, 17, 0.774);
font-style:italic;
text-align:center;
}



#two2 {
width:100%;      
color:rgb(158, 209, 233);  
background-color: rgb(224, 212, 160);
margin-bottom:100px;   
margin-left:auto;
margin-right:auto;
margin-top:120px;      
}

.from2 {
  font-style:italic;
  color:grey;
}

.twoContainer2 { 
display:flex;   
justify-content: center; 
 flex-wrap:wrap; 

}

.productContainer2 {
height:250px;   
text-align: center; 
padding-bottom:125px; 
margin-bottom:70px;
width:75%;
max-width:450px;
 
}

.pricebox2 {
background-color:rgba(255, 255, 255, 0.685);
margin-top:0;
padding-bottom:25px;
padding-top:25px;
width:85%;
margin-left:auto;
margin-right:auto;  
}

.recProduct2 {
font-size:2vh;
display:block;
color:rgb(61, 61, 61);    
font-weight:normal;
  
}

#productView2 {
text-align:center;
background-color: rgb(224, 212, 160);
margin-top:0px;
padding-bottom:40px;
font-weight:bold;
font-size:1.5em;
letter-spacing: 1.5px;

}

.recImage2 {
margin-top:-70px;
height:250px; 
width:380px;     
display:block;
margin-left:auto;
margin-right:auto; 
margin-bottom:-18px;  
}

button {   
  background-color: #f3ce68;     
  color: rgb(66, 66, 66);
  padding: 16px 40px;    
  text-decoration: none;    
  font-size: 1.5h; 
  font-weight:bold;     
  margin-left:auto;
  margin-right:auto; 
  border:none;  
}

button:hover {
  background-color:#dab246;
  cursor:pointer;
}

#productView2 a {
  text-decoration:none;
 color:rgba(30, 83, 28, 0.774);
}

#productView2 a:hover {
  text-decoration:none;
 color:rgba(106, 133, 88, 0.774);
}

#three2 {
background-image: url("../IMG/cafe.jpg");
height:700px; 
background-repeat: no-repeat;   
background-position:center;
background-size:cover;
margin-bottom:50px;
opacity:80%;
width:80%;
margin-right:auto;
margin-left:auto;
box-shadow: 3px 3px 2px rgb(82, 82, 82);
}

#four2 {
background-image: url("../IMG/gardening.jpg");
height:700px; 
background-repeat: no-repeat;   
background-position:center;
background-size:cover;
margin-bottom:50px;
opacity:80%;
width:80%;
margin-right:auto;
margin-left:auto;
box-shadow: 3px 3px 2px rgb(82, 82, 82);
}

.textintro222 {
  margin-top:-740px; 
  margin-bottom:0px; 
  font-size: 5em;
  color:rgb(197, 197, 197);
  font-weight:bold;
  letter-spacing: 2px;
  font-family: 'GlacialIndifferenceRegular';
}

.textintro52 {
  margin-top:30px;
  margin-bottom:25px;
  font-size: 2em;
  color:rgb(18, 78, 18);
  font-weight:bold;
  letter-spacing: 2px;
  font-family: 'GlacialIndifferenceRegular';
}

.textintro22 {
  margin-top:-700px;
  margin-bottom:15px;
  font-size: 3em;
  color:rgb(18, 78, 18);
  font-weight:bold;
  letter-spacing: 2px;
  font-family: 'GlacialIndifferenceRegular';
  text-align:left;
  margin-left:60px;
}

.textintro32 {
  margin-top:-750px;
  margin-bottom:93px;
  font-size: 2em;
  color:rgb(19, 66, 27);
  font-weight:bold;
  letter-spacing: 2px;
  font-family: 'GlacialIndifferenceRegular';
  text-align:left;
  padding-left:40px;
  padding-top:110px;
}

.textintro42 {
  margin-top:-550px;
  margin-bottom:-137px;
  font-size: 9em;
  color:rgb(243, 243, 243);  
  letter-spacing: 4px;
  font-family: 'GlacialIndifferenceRegular';
  font-weight:bolder ;
}
.backg2 {
  background-color:rgba(66, 66, 66, 0.822);
  padding:15px;

}

.changeanc2 {
  color:rgb(236, 236, 236);
  background-color:rgba(66, 66, 66, 0.575);
  padding:10px;
  text-decoration:none;
}

.changeanc {
  color:rgb(17, 117, 17);
}

.centerpics2 {		   					
  width:100%;	
  margin-left:auto;
   margin-right:auto;
  margin-top:0px;
  margin-bottom:50px;    
      }
           

.slidepics {
  width:100%;
  height:800px;
  opacity:100%; 
  z-index:10;
  }
      
  
   
  .mySlides {
  display: none;
  text-align:center;
 
  }
               
     
  .dot {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 12px 12px;
  background-color: #0c0c0cc7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top:400px;
  text-align:center;
  }
  
  .active, .dot:hover {
  background-color: rgba(248, 248, 248, 0.74);
  }
  
  
  .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
  }
  
  @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }

  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-left:10px;
  margin-right:10px;
  color: rgb(245, 244, 244);
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(128, 128, 128, 0.637);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



}



  
