section {
  margin: 0;
  padding: 0;
}

h5 {
  color: rgb(194, 10, 10);  
  font-size: 3em;
}

#con1 {
  background-color:rgb(183, 204, 183); 
  margin-top:-136px;
  margin-bottom:50px;
  padding-bottom:40px;
  padding-top:15px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
  
#con2 {
  padding-top:40px;
  width:90%;
  background-color: rgb(224, 212, 160);
  margin-top:10px;
   padding-bottom:40px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:120px;
}
  
  

.centerpics {		
  background-image:url("../IMG/kelsomain.jpg") ; 
  background-size: cover; 
  background-position: center;  
  height:1200px;					
  width:100%;	
  margin-left:auto;
   margin-right:auto;
    
      }

      .textintro {
        padding-top:70px; 
        margin-bottom:0px; 
        font-size:4em;
        text-align:center;
        color:white;      
      }
      
      .textintro5 {
        margin-top:40px;
        
        font-size: 3.5em;
        text-align:center;
      padding-left:20px;
        padding-right:20px;
        color:rgb(63, 63, 63);       
      }
      



#one {   

color:rgb(158, 209, 233); 
margin-bottom:50px;   
margin-left:auto;
margin-right:auto;  
margin-top:100px; 
  padding-top:30px;
  background-color:rgb(183, 204, 183);  
  width:100vw;
  text-align:center;
}




.offer {
font-size:2vh;
display:flex;
color:rgb(54, 54, 54);  
justify-content: center; 
font-weight:bold;
}

.offerContainer {
padding-bottom:40px;
background-color: rgb(240, 226, 210); 
padding-top:10px;
margin-top:20px;
width:90vw;
margin-left:auto;
margin-right:auto;
text-align:center;
margin-bottom:60px;
}

h6 {
  font-size:2.5em;
  color:black;
}

.offerImage {  
  width: 85vw;
  height:550px;  
margin-left:auto;
margin-right:auto; 
margin-top:-20px;  
text-align:center;
}

h3, h4 {
font-size:4em; 
color:rgb(114, 114, 114);
margin-left:auto;
margin-right:auto;
padding:5px;
text-align:center;
letter-spacing: 2px;
  
}



h2 {
font-size:3vh;
color:rgba(19, 71, 17, 0.774);
font-style:italic;
text-align:center;
}


#two {
width:100%;      
color:rgb(158, 209, 233);  
background-color: rgb(224, 212, 160);
margin-bottom:0px;   
margin-left:auto;
margin-right:auto;
padding-top:0px;

}

.toptext {
  font-size:32px;
  color:black;
  font-weight:strong;
}

.from {  
  color:rgb(61, 61, 61);
}


.productContainer {  
  width:75%; 
  max-width:75%;  
  text-align:center;
  margin-left:auto;
margin-right:auto;
  margin-bottom:60px;
  padding-bottom:30px;
  margin-top:30px;
  }

.pricebox {
background-color:#EFEADD;
margin-top:0;
padding-top:5px;   
  font-size:1.5em;
  width:70vw;   
  margin-left:auto;
margin-right:auto;
  text-align:center;
   padding-bottom:20px;
   margin-bottom:30px;
}



#productView {
text-align:center;
margin-top:0px;
padding-top:50px;
padding-bottom:50px;
font-weight:bold;
font-size:1.5em;
letter-spacing: 1.5px;
}

.recImage {
margin-top:-10px;
height:550px; 
 width:70vw;
display:block; 
margin-bottom:0px;  
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

button {   
  background-color: #f3ce68;     
  color: rgb(66, 66, 66);
  padding: 16px 40px;    
  text-decoration: none;  
  font-weight:bold;     
  margin-left:auto;
  margin-right:auto; 
  border:none;  
  margin-bottom:20px;
}

.basket1 {
  font-size:2em;
}

.basket2 {
  font-size:1.5em;
}

button:hover {
  background-color:#dab246;
  cursor:pointer;
}

#productView a {
  text-decoration:none;
 color:rgba(30, 83, 28, 0.774);
}

#productView a:hover {
  text-decoration:none;
 color:rgba(106, 133, 88, 0.774);
}

#three {
background-image: url("../IMG/cafe.jpg");
height:700px; 
background-repeat: no-repeat;   
background-position:center;
background-size:cover;
margin-bottom:50px;
opacity:80%;
width:80%;
margin-right:auto;
margin-left:auto;
box-shadow: 3px 3px 2px rgb(82, 82, 82);
}

#four {
background-image: url("../IMG/gardening.jpg");
height:700px; 
background-repeat: no-repeat;   
background-position:center;
background-size:cover;
margin-bottom:50px;
opacity:80%;
width:80%;
margin-right:auto;
margin-left:auto;
box-shadow: 3px 3px 2px rgb(82, 82, 82);
}

.backg {
  background-color:rgba(66, 66, 66, 0.822);
  padding:15px;

}

.changeanc {
  color:rgb(236, 236, 236);
  background-color:rgba(66, 66, 66, 0.575);
  padding:10px;
  text-decoration:none;
}



           



  

