 background-color:white;
  }

  @media only screen and (min-width: 1281px) {  
  .mobile-header {
        display:none;
    }

    .main-header {
      display:flex;
  }
}

/* small devices (phones, 1000px and down) */
@media only screen and (max-width: 1280px) { 
    .main-header {
        display:none;
    }
  }

.main-header {
    background-color: rgb(238, 226, 186);    
    color:rgb(0, 0, 0);    

    top: 0;
    width: 100%;
    z-index:1000;   
    margin-bottom:60px;     
    letter-spacing: 3px;  
    height:120px;
    justify-content: space-between;

}   

.otherPages {
   text-decoration:none; 
   font-size:1.5vh;
   color:rgb(58, 58, 58);    
}  

.otherPages:hover {
    color:rgb(119, 194, 245);
    }

.currentPage {
        color: rgb(0, 0, 0);        
        text-decoration:underline; 
        font-weight:400;       
        font-size:2vh;           
      }

nav {  
   flex:9 1 50px;
    padding-top:60px;  
                }

.logo { 
 padding-top:20px;
 flex:4 2 50px;

}

.logoImage {      
    height:180px;     
}

nav ul {     
    display:flex;
@@ -170,14 +110,14 @@ nav li {
   }  

 .logoImage2 {      
     
     height:170px;
     max-width:auto;      
 }

.ham {    
    margin-left:70px;  
   z-index: 1000;	
     
   margin-top:70px;   
   border: none;
   cursor: pointer;   
   }
   
   .ham:focus{
   outline: none;
   }
        
   .navbar {
   position:fixed;   
   background:  #d4d4d4;
    margin-left:0px;
   width: 700px;	
   height: auto;	
   z-index:200;		
   margin-bottom:0px;
   margin-top:200px;     
   /* hide the menu above the screen by default */
   transform: translateX(100%);
   /* transition adds a little animation when sliding in and out the menu */
   transition: transform 0.2s ease;

   }
   
   .showNav {
   /* show the menu */
   transform: translateX(-60%);
   }
   
   .navbar ul {		
   margin-bottom:0px;
   padding-bottom:40px;
    margin-top:0px;
   padding-top:-20px;
   margin-left:0px; 
   display:block;  
   }
   
   .navbar li {
   font-size:3.5vh;
   letter-spacing:1px;
   text-decoration:none;
   padding-bottom:15px;
   padding-top:15px;
   list-style-type: none;
   text-align:left;
   margin-left:0px;
   }
      
   .navbar li a:hover {
   color:#252525;
   }

   .navbar li a {    
    color:#018501;
    text-decoration:none;
    }
         
        
   @media (min-width:1000px)
    
   {

#footer {
  font-size:1em;
    padding: 2em;
    text-align:center;
    background-color: rgb(46, 71, 54);
    color: rgb(255, 255, 255);
    border-top: rgb(187, 186, 176) 4px solid;
    height:230px;
    font-family: 'GlacialIndifferenceRegular';
    letter-spacing: 2px;
}

.footbar {
  display:flex;
  justify-content: space-between;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
}

.footimsize {

  height:50px;
  
}

.footimsize2 {
  height:40px;
  padding-bottom:5px;
}

.footimsize3 {
  
  height:50px; 
}

.copy {    
  color: #bbb;
  text-align:left;  
}

.copy ul {
  padding-left:0;
}

.copy ul a {
  color:#799176;
  text-decoration:none;
}

.copy ul a:hover {
  color: #0f310c;
  cursor:pointer;
}

.copy li {
  list-style:none;
  text-align:left;
}

#icons {
  padding-top:190px;
  color: #bbb;
  
}

.headcol {
  color: #bbb;

}

#contdet {
  color:#7b8b79;
  text-align:left;
}

#contdet a {
  color:white;
  letter-spacing: 0.5px;
}

#contdet a:hover {
  color:rgb(173, 173, 173);
}

.copyr {
  font-size:1em;
  letter-spacing:0;
}

   }

   @media  (max-width:999px)

   { 
  

#footer {
    padding: 1em;
    font-size:2em;
    text-align:center;
    background-color: rgb(46, 71, 54);
    color: rgb(255, 255, 255);
    border-top: rgb(187, 186, 176) 4px solid;
    height:auto;
    font-family: 'GlacialIndifferenceRegular';
    letter-spacing: 1px;
    padding-top:25px;
}

#icons {
  padding-bottom:70px;
    padding-top:40px;

}



.footbar {
  display:flex;
  justify-content: space-between;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
}

.footimsize {
 padding-left:20px;
 padding-right:20px;
  height:100px;
  
}

.footimsize2 {
  padding-left:20px;
 padding-right:20px;
  height:80px;
  padding-bottom:15px;
}

.footimsize3 {
  padding-left:20px;
 padding-right:20px;
  height:100px; 
}

.copy {    
  color: #bbb;
  text-align:center; 
  padding-bottom:70px; 
}

.copy ul {
  padding-left:0;
  text-align:center;
}

.copy ul a {
  color:#799176;
  text-decoration:none;
}

.copy ul a:hover {
  color: #0f310c;
  cursor:pointer;
}

.copy li {
  list-style:none;
  text-align:center;
}



.headcol {
  color: #bbb;

}

#contdet {
  color:#7b8b79;
  text-align:left;
}

#contdet a {
  color:white;
  letter-spacing: 0.5px;
}

#contdet a:hover {
  color:rgb(173, 173, 173);
}

.copyr {
  font-size:1em;
  letter-spacing:0;
}

   }
