body {
  font-family:"Monsterrat", sans-serif;
  font-size:16px;
    margin:0;
  padding:0;
  background-color:rgb(255, 255, 255);
}

@media only screen and (min-width: 1000px) {  
.mobile-header {
      display:none;
  }

  #footer {
    display:none;
  }

  .main-header {
    display:flex;
}


 
#footer2 {
  font-size:1em;
    padding: 2em;
    text-align:center;
    background-color: rgb(46, 71, 54);
    color: rgb(255, 255, 255);
    border-top: rgb(187, 186, 176) 4px solid;
    height:230px;
    font-family: 'GlacialIndifferenceRegular';
    letter-spacing: 2px;
}

.footbar2 {
  display:flex;
  justify-content: space-between;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
}

.footimsize1 {

  height:50px;
  
}

.footimsize21 {
  height:40px;
  padding-bottom:5px;
}

.footimsize31 {
  
  height:50px; 
}

.copy2 {    
  color: #bbb;
  text-align:left;  
}

.copy2 ul {
  padding-left:0;
}

.copy2 ul a {
  color:#799176;
  text-decoration:none;
}

.copy2 ul a:hover {
  color: #0f310c;
  cursor:pointer;
}

.copy2 li {
  list-style:none;
  text-align:left;
}

#icons2 {
  padding-top:190px;
  color: #bbb;
  
}

.headcol2 {
  color: #bbb;

}

#contdet2 {
  color:#7b8b79;
  text-align:left;
}

#contdet2 a {
  color:white;
  letter-spacing: 0.5px;
}

#contdet2 a:hover {
  color:rgb(173, 173, 173);
}

.copyr2 {
  font-size:1em;
  letter-spacing:0;
}



}


@media only screen and (max-width: 999px) { 
  .main-header {
      display:none;
  }

  #footer2 {
    display:none;
  }
}

.main-header {
  background-color: rgb(238, 226, 186);    
  color:rgb(0, 0, 0);      
  top: 0;
  width: 100%;
  z-index:1000;   
  margin-bottom:60px;     
  letter-spacing: 3px;  
  height:120px;
  justify-content: space-between;
  
}   

.otherPages {
 text-decoration:none; 
 font-size:1.5vh;
 color:rgb(58, 58, 58);    
}  

.otherPages:hover {
  color:rgb(119, 194, 245);
  }

.currentPage {
      color: rgb(0, 0, 0);        
      text-decoration:underline; 
      font-weight:400;       
      font-size:2vh;           
    }

nav {  
 flex:9 1 50px;
  padding-top:60px;  
              }

.logo { 
padding-top:20px;
flex:4 2 50px;

}

.logoImage {      
  height:100px;  
  width:auto;   
}

nav ul {     
  display:flex;
  list-style:none;           
}

nav li {
padding-left:20px;
padding-right:20px;
}

.cart {
flex:1 1 50px;
margin-top:60px;
}

.cartImage {
height:40px;
padding-left:30px;
}


/* creating hamburger menu animations etc */
  #nav-icon1 span{
      display: block;
      margin:4px;
      height: 9px;
      width:60px;
      background: #0b4e02;
      border-radius: 9px; 
      color:rgb(2, 83, 2);       
    }      
    #nav-menu1:checked ~ #nav-icon1 span:nth-child(1){
      -webkit-transform: rotate(135deg) translate(21px,-13px);
      -moz-transform: rotate(135deg) translate(21px,-13px);
      -o-transform: rotate(135deg) translate(21px,-13px);
      transform: rotate(135deg) translate(21px,-13px);
    }
    #nav-menu1:checked ~ #nav-icon1 span:nth-child(2){
       opacity: 0;
    }
    #nav-menu1:checked ~ #nav-icon1 span:nth-child(3){
      -webkit-transform: rotate(-135deg) translate(3px);
      -moz-transform: rotate(-135deg) translate(3px);
      -o-transform: rotate(-135deg) translate(3px);
      transform: rotate(-135deg) translate(3px);
    }
    input[type="checkbox"]{
      display:none;
    }      
    #nav-icon1 span{  
      cursor:pointer; 
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      position:relative;
      left:0px;
    }     
  #nav-menu1:checked ~ #nav-icon1 span:nth-child(2){
      opacity: 0;
      left: -60px;
    }

.mobile-header {
  margin-bottom:200px;
}

#menu {
 margin-top:0px;	
 display: flex;   
 width:100%;	
 margin-left:0px;
 margin-right:0px;
 background-color: rgb(238, 226, 186);         
 justify-content:space-between;
 color:#1a1a1a;
 flex-wrap:nowrap;
 flex: 1 1 auto;
 height:180px;	
 padding-top:10px;	
 z-index:1200;    
 position: fixed;
 top:0;  
 box-shadow: 1px 4px #c9c8a3; 
 }   
 
 .box {
 display:flex;	   
 }
 
 .box-2 {	
 width:20%;   
 }
 
 .box-1  {
 width: 80%;	
 margin-top:auto;
 margin-bottom:auto;
 margin-left:25px;
 text-align:left;
 }  

.logoImage2 {      
   height:150px;
   width:auto;      
}
      
.ham {    
  margin-left:70px;  
 z-index: 1000;	
 margin-top:60px;   
 border: none;
 cursor: pointer;   
 }
 
 .ham:focus{
 outline: none;
 }
      
 .navbar {
 position:fixed;   
 background:  #f0efe7;
  margin-left:0px;
 width: 800px;	
 height: auto;	
 z-index:200;		
 margin-bottom:0px;
 margin-top:184px;     
 /* hide the menu above the screen by default */
 transform: translateX(100%);
 /* transition adds a little animation when sliding in and out the menu */
 transition: transform 0.2s ease;

 }
 
 .showNav {
 /* show the menu */
 transform: translateX(-60%);
 }
 
 .navbar ul {		
 margin-bottom:0px;
 padding-bottom:40px;
  margin-top:0px;
 padding-top:-20px;
 margin-left:0px; 
 display:block;  
 }
 
 .navbar li {
 font-size:3.5vh;
 letter-spacing:1px;
 text-decoration:none;
 padding-bottom:15px;
 padding-top:15px;
 list-style-type: none;
 text-align:left;
 margin-left:0px;
 }
    
 .navbar li a:hover {
 color:rgb(119, 119, 119);
 }

 .navbar li a {    
  color:rgb(14, 58, 1);
  text-decoration:none;
  }
       
      
 @media (min-width:1000px)
  
 {

#footer2 {
font-size:1.2em;
  padding-bottom:50px;
  text-align:center;
  background-color: rgb(46, 71, 54);
  color: rgb(255, 255, 255);
  border-top: rgb(187, 186, 176) 4px solid;
  height:230px;
  font-family: 'GlacialIndifferenceRegular';
  letter-spacing: 2px;
  margin-bottom:0;
}

.footbar {
display:flex;
justify-content: space-between;
width:90%;
margin-left:auto;
margin-right:auto;
margin-top:0px;
}

.footimsize {

height:50px;

}

.footimsize2 {
height:40px;
padding-bottom:5px;
}

.footimsize3 {

height:50px; 
}

.copy {    
color: #bbb;
text-align:left;  
}

.copy ul {
padding-left:0;
}

.copy ul a {
color:#799176;
text-decoration:none;
}

.copy ul a:hover {
color: #0f310c;
cursor:pointer;
}

.copy li {
list-style:none;
text-align:left;
}

#icons {
padding-top:190px;
color: #bbb;

}

.headcol {
color: #bbb;

}

#contdet {
color:#7b8b79;
text-align:left;
}

#contdet a {
color:white;
letter-spacing: 0.5px;
}

#contdet a:hover {
color:rgb(173, 173, 173);
}

.copyr {
font-size:1em;
letter-spacing:0;
}

 }

 @media  (max-width:999px)

 { 


#footer {
  padding: 1em;
  font-size:1.8em;
  text-align:center;
  background-color: rgb(46, 71, 54);
  color: rgb(255, 255, 255);
  border-top: rgb(187, 186, 176) 4px solid;
  height:auto;
  font-family: 'GlacialIndifferenceRegular';
  letter-spacing: 1px;
}

#icons {
padding-bottom:50px;

}

.contentfoot {
margin-top:30px;
}



.footbar {
display:flex;
justify-content: space-between;
width:90%;
margin-left:auto;
margin-right:auto;
margin-top:0px;
}

.footimsize {
padding-left:20px;
padding-right:20px;
height:80px;

}

.footimsize2 {
padding-left:20px;
padding-right:20px;
height:60px;
padding-bottom:10px;
}

.footimsize3 {
padding-left:20px;
padding-right:20px;
height:80px; 
}

.copy {    
color: #bbb;
text-align:center; 
padding-bottom:50px; 
}

.copy ul {
padding-left:0;
text-align:center;
}

.copy ul a {
color:#799176;
text-decoration:none;
}

.copy ul a:hover {
color: #0f310c;
cursor:pointer;
}

.copy li {
list-style:none;
text-align:center;
}

.phone {
  color:rgb(216, 215, 215);
}



.headcol {
color: #bbb;
}

.footadd {
  color:#799176;
font-size:0.8em;
 }

#contdet {
color:#7b8b79;
text-align:left;
}

#contdet a {
color:rgb(221, 221, 221); 
letter-spacing: 0.5px;
}

#contdet a:hover {
color:rgb(173, 173, 173);
}

.copyr {
font-size:0.7em;
letter-spacing:0;
color:rgb(141, 141, 141);
}

 }


 